@(jsBody: String)
<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.12.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loader.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jsapi.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script type="text/javascript">
    var data2 = @Html(jsBody)
</script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/graph_script.js")"></script>
<html>
    <head>
        <title>TEST</title>
    </head>
    <body>

        <div id="elemdiv" style="width:100%;height: 380px;">
        </div>
	   	<div id = "chart_div">
        </div>
        <br>
        <p>Slowest pages</p>


    <table id="table_slow_value" class="table table-condensed">
    <thead>
      <tr>
        <th>URL</th>
        <th>Status</th>
        <th>Latency (in ms)</th>
      </tr>
    </thead>
        <tbody>

        </tbody>
        </table>

        <p>All pages</p>
        <table id="table_all_value" class="table table-condensed">
        <thead>
          <tr>
            <th>URL</th>
            <th>Status</th>
            <th>Latency (in ms)</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
        <br>
    </body>
</html>